.container{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3);
    gap:10px;
    grid-auto-rows: minmax(100px, auto);

}
.titleClass{
    color: #fff;
    /* padding: 10px 0px; */
    margin: 0px 0px 0px 10px;
}
.imageClass{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    grid-column: 1 / 3;
    grid-row: 1;
}
.imagediv{
    display: flex;
    /* padding: 0px 20px; */
}

.imagediv{
    padding: 10px;
    grid-column: 1/3;
    grid-row: 1;
}
/* .items{
    display: grid;
    grid-template-columns: repeat(3);
    gap:10px;
    grid-auto-rows: minmax(100px, auto);
} */
